{% extends 'message/base.html' %}
{% block title %}Регистрация пользователя{% endblock %}

{% block content %}
{% include 'message/header.html' %}
<div class="container">
    <div class="row">
        <div class="col-5">
            <form class="row" method="post" enctype="multipart/form-data">
                <div class="card">
                    <div class="card-body">
                        {% csrf_token %}
                        {{ form.as_p }}
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}