{% extends 'message/base.html' %}
{% block title %}Ввод электронной почты{% endblock %}

{% block content %}
{% include 'message/header.html' %}
<body>
    <h1>Сброс пароля</h1>
    <p>Введите адрес электронной почты, связанный с вашей учетной записью. Мы отправим вам инструкции по сбросу пароля.</p>
    <form method="post">
        {% csrf_token %}
        <label for="email">Электронная почта:</label>
        <input type="email" name="email" required>
        <button type="submit">Отправить инструкции</button>
    </form>
    <p><a href="{% url 'user:login' %}">Вернуться на страницу входа</a></p>
</body>
{% endblock %}