{% extends 'message/base.html' %}
{% block title %}Удаление сообщения{% endblock %}

{% block content %}
{% include 'message/header.html' %}
<div class="container mt-5">
    <h1 class="mb-4">Удалить сообщение</h1>
    <p>Вы уверены, что хотите удалить письмо: "{{ object.topic_letter }}"?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Удалить</button>
        <a href="{% url 'message:messages_list' %}" class="btn btn-secondary">Отмена</a>
    </form>
</div>
{% endblock %}